span {
	font-size: 1 rem !important;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid green;

	.header-login-btn {
		background-color: green;
		border-radius: 20px;
		height: 25px;
		display: flex;
		align-items: center;

		span {
			padding: 20px !important;
			;
			padding-top: 20px;
			color: white;
			cursor: pointer;
		}
	}

	.header-user-img {
		height: 100%;

		img {
			width: 45px;
			border-radius: 100%;
		}
	}

	.header-menu {
		width: 33%;
		display: flex;
		justify-content: space-around;
		cursor: pointer;
	}
}

.bestServer {
	display: flex;
	justify-content: space-between;
	padding: 30px;

	.bestServer-contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: end;
		padding: 10px;

		.bestServer-content {
			padding: 7px;
		}

		.xxlarge {
			font-size: 36px;
		}

		.xlarge {
			font-size: 33px;
		}

		.large {
			font-size: 29px;
		}

		.bestServer-contents-btns {
			display: flex;

			span {
				cursor: pointer;
			}
		}
	}
}

.features {
	width: 100%;
	height: 400px;
	display: flex;

	.feature-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.feature-item-description {
			font-weight: bold;
			color: black;
			padding: 10px 20px;
			text-align: right;
		}
		.feature-item-title {
			color: #5A514F;
		}
	}
}
.whyYouUseOurServices{
	position: relative;
img{
	width: 100%;
	height: 50%;
	filter: brightness(0.3);
}
.whyYouUseOurServices-content{
	display: flex;
	position: absolute; 
	flex-direction: column; 
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
	span{
		display: flex;
		align-items: center;
		color: white;
		text-align: right;
		font-size: 18px;
		padding: 10px;
	}
	.whyYouUseOurServices-title{
		font-size: 22px !important;	
	}
	.whyYouUseOurServices-contents{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
}
// --------------------------------
.btn {
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 17px;
}

.btn-white {
	color: #5A514F;

	:hover {
		color: #A0BF57 !important;
	}
}

.btn-orange {
	color: white;
	background-color: #DF9D2A;
}